body {
  background-image: url('image/bricks.jpg');
  font-family: 'Finger Paint', cursive;
}

header {
  color: $red-color;
  font-size: 100px;
  text-align: center;
}

.modal1 {
  float: left;
}

.columns {
  color: $white-color;
  font-size: 75px;
  height: 700px;
  text-align: center;
}

.playerx {
  background-color: $red-color;
  opacity: .5;
}
// X VS 0 title display for center column
.x {
  color: $red-color;
  font-size: 120px;
  text-decoration: underline;
}

.v {
  color: $white-color;
  font-size: 70px;
  text-decoration: underline;
}

.o {
  color: $blue-color;
  font-size: 120px;
  text-decoration: underline;
}



.playero {
  background-color: $blue-color;
  opacity: .5;
}

#reset {
  background-color: $black-color;
  height: 10%;
  width: 20%;
  font-size: 20px;
}
