body {
  background-image: url('image/bricks.jpg');
  font-family: 'Finger Paint', cursive;
}

header {
  color: $red-color;
  font-size: 100px;
  text-align: center;
}

.modal1 {
  float: left;
}

.columns {
  color: $white-color;
  font-size: 75px;
  height: 700px;
  text-align: center;
}

.playerx {
}
// X VS 0 title display for center column
.x {
  color: $red-color;
  font-size: 120px;
  text-decoration: underline;
}

.v {
  color: $white-color;
  font-size: 70px;
  text-decoration: underline;
}

.o {
  color: $blue-color;
  font-size: 120px;
  text-decoration: underline;
}

.stats {
  font-size: 50px;
}

.stats1 {
  font-size: 50px;
}

.nyan {
  background-color: $black-color;
  color: $white-color;
  opacity: .7;
}

#draw {
  background-image: url('http://media.giphy.com/media/sIIhZliB2McAo/giphy.gif')
}

#reset {
  background-color: $black-color;
  font-size: 20px;
  height: 5%;
  margin: 0 auto;
  width: 30%;
}
